<div class="ajusted-form">
    {{ form_start(form) }}
        <div class="flex">
            <div class="image-preview">
                {% if profile is null %}
                    <img 
                    src="/_assets/pictures/default_author.jpg" 
                    alt="image de profile par défaut">
                {% else %}
                    <img 
                    src="{{ profile.coverPicture }}" 
                    alt="Image de l'auteur">
                {% endif %}
            </div>
            <div class="">
                {% if required is defined  %}
                    {{ form_errors(form.imageFile) }}
                    {{ form_label(form.imageFile) }}
                    {{ form_widget(form.imageFile, {attr:{required:required}}) }}
                {% else %}
                    {{ form_label(form.imageFile) }}
                    {{ form_widget(form.imageFile) }}
                {% endif %}
            </div> 
        </div>
        <div class="birth-date">
            {{ form_label(form.dateBirth) }}
            {{ form_widget(form.dateBirth) }}
        </div>
            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}
    {{ form_end(form) }}
</div>
