{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Connectez-vous !{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}
        <h1 class="form-title">Connexion</h1>
        <div class="form-inputs">
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mt-1 mb-3" autocomplete="email" required autofocus>
            <label for="inputPassword">Mot de passe</label>
            <div class="password">
                <input type="password" name="password" id="inputPassword" class="form-control mt-1" autocomplete="current-password" placeholder="••••••••••" required>
                <div class="password-icon">
                    <i data-feather="eye"></i>
                    <i data-feather="eye-off"></i>
                </div>
            </div>
            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}">
            <div class="flex justify-center">
                <button class="btn btn-outline-secondary form-btn" type="submit">
                    Se connecter
                </button>
            </div>
        </div>
        <div class="register">
            <h4>Pas encore de compte ?</h4>
            <p>Enregistrez-vous <strong><a href="{{ path('app_register') }}">ici </a></strong>pour pouvoir profiter du site</p>
        </div>
    </form>
{% endblock %}

{% block javascripts %}
    {#  Scripts for the login form icons #}
    <script src="https://unpkg.com/feather-icons"></script>
    <script>feather.replace()</script>
    <script src="/_assets/js/password.js"></script>
{% endblock %}
