{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h2 class="form-title">Formulaire d'enregistrement</h2>

    {{ form_start(registrationForm) }}
        {{ form_label(registrationForm.full_name) }}
        {{ form_widget(registrationForm.full_name) }}
        {{ form_label(registrationForm.email) }}
        {{ form_widget(registrationForm.email) }}
        {{ form_label(registrationForm.plainPassword.first) }}
        {{ form_widget(registrationForm.plainPassword.first) }}
        {{ form_label(registrationForm.plainPassword.second) }}
        {{ form_widget(registrationForm.plainPassword.second) }}
        <div class="agreeTerm">
            {{ form_label(registrationForm.agreeTerms) }}
            {{ form_widget(registrationForm.agreeTerms) }} 
        </div>   
    {{ form_end(registrationForm) }}
{% endblock %}
