{% extends 'base.html.twig' %}

{% block title %}Selon Vous ? Les derniers articles{% endblock %}

{% block body %}
    <div class="top-home px-5">
        <img class="image-front my-3" src="/_assets/pictures/title-front.png">
        <h3 class="mb-4">Le blog qui vous laisse la parole...</h3>
        {% if app.user %}
            <h3>Bonjour {{ app.user.getFullName() }}</h3>
        {% endif %}
        <p class="intro mt-3">Sur ce site, vous pouvez écrire des articles à propos de sujets que vous maîtrisez, que vous voulez partager ou simplement
        qui vous tiennent à coeur. Vous pouvez également réagir aux articles des autres auteurs et leur laisser un commentaire (bien sûr dans 
        le respect des conditions générales d'utilisation du site que vous pouvez <strong><a href="">consulter  ici</a></strong>).
        Besoin d'un petit coup de pouce pour utiliser ce site ? Pas de panique, tout est <strong><a href="">expliqué là !</a></strong>.</p>
    </div>
    
    <div class="articles-infos my-5">
       <h5>Au {{ "now"|date("d/m/Y") }}, <strong>{{ articles|length }} articles</strong> sont disponibles</h5>
    </div>
    <div class="articles">
    {% for article in articles %}
        <a href="/article/{{ article.slug }}" class="article-item">
            <div class="article-image" style="background-image: url({{ article.imageUrl }})">
                {# <img src="{{ article.imageUrl }}" alt="Image de l'article" {{ article.title }} > #}
            </div>
            <div class="article-details flex">
                <div class="article-author-details">
                    <div class="article-author-picture">
                        {% if article.author.profile is null %}
                            <img src="/_assets/pictures/default_author.jpg" alt="Image de profile de {{ article.author.fullname }}">
                        {% else %}
                            <img src="{{ article.author.profile.picture }}" alt="Image de profile de {{ article.author.fullname }}">
                        {% endif %}
                    </div>
                </div>
                <div class="article-content-details">
                    <h2 class="article-title">{{ article.title }}</h2>
                    <div class="article-createdAt">{{ article.fromNow }}</div>

                </div>
            </div>
            <div class="ranking ms-2">
            {% if article.comments|length != 0 %}
                {{article.comments|length }} <i class="bi bi-chat-text ml-1"></i>
            {% endif %}
            
            </div>
        </a>
    {% endfor %}
    </div>
    
{% endblock %}
