{{ form_start(form) }}
    {{ form_label(form.title) }}
    {{ form_widget(form.title) }}
    {{ form_label(form.categories) }}
    {{ form_widget(form.categories) }}
    {{ form_label(form.content) }}
    {{ form_widget(form.content) }}
    {{ form_label(form.imageFile) }}
    {{ form_widget(form.imageFile) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}