{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h2 class="form-title">Liste des vos articles</h2>

    <a class="btn btn-success mb-2 w-25" href="{{ path('app_article_new') }}">Rédiger un nouvel article</a>
    {% for article in articles %}
{#     <table class="table">
       <thead>
            <tr>
                <th class="header1" >N°</th>
                <th class="header2" >Titre</th>
                <th class="header3" >Référencement</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.title }}</th>
                <td>{{ article.slug }}</th>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th class="header1" colspan="2">Contenu</th>
                <th class="header1" colspan="1">Image</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2">
                    <div class="article-content">
                        {{ article.content | raw }}
                    </div>
                </td>
                <td colspan="1">
                    <div class="img-container">
                        <img style="overflow:hidden" src="{{ article.imageUrl }}" alt="image de l'article numero {{ article.id }}">
                    </div>
                </td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th class="header1">Ecrit le</th>
                <th class="header1">Modifié le</th>
                <th class="btn-center"><a class="btn btn-primary w-50" href="{{ path('app_article_show', {'id': article.id}) }}">Visualiser</a></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ article.createdAt ? article.createdAt|date('d-m-Y à H:i:s') : '' }}</td>
                <td>{{ article.updatedAt ? article.updatedAt|date('d-m-Y à H:i:s') : ''  }}</td>
                <td class="btn-center"><a class="btn btn-warning w-50" href="{{ path('app_article_edit', {'id': article.id}) }}">Modifier</a></td>
                
            </tr>
        </tbody>
    </table> #}
    
    
    <table class="table">
        <tbody>
            <tr>
                <th>Numéro</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td style="font-weight:bold">{{ article.title }}</td>
            </tr>
            <tr>
                <th>Référencement</th>
                <td>{{ article.slug }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ article.content }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>
                    <div class="img-edit">
                        <img src="{{ article.imageUrl }}" alt="image de l'article numero {{ article.id }}">
                    </div></td>
            </tr>
            <tr>
                <th>Rédigé </th>
                <td>{{ article.fromNow }}</td>
            </tr>
            <tr>
                <th>Mis à jour le</th>
                <td>{{ article.updatedAt ? article.updatedAt|date('d-m-Y à  H:i:s') : '' }}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="flex">
                        <a class="btn btn-outline-secondary w-20 mx-2" href="{{ path('app_single_article', {'slug': article.slug}) }}">Visualiser</a>
                        <a class="btn btn-outline-secondary w-20 mx-2" href="{{ path('app_article_edit', {'id': article.id}) }}">Modifier</a>
                        {{ include('article/_delete_form.html.twig') }}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    {% endfor %}
{% endblock %}

{% block javascripts %}
    <script>
        $('.article-content').readmore({ 
            speed: 10,
            moreLink: '<a class="readmore" href="#">» Voir plus</a>',
            lessLink: '<a class="readmore" href="#">» Voir moins</a>',
            collapsedHeight: 200 });
    </script>
{% endblock %}